.container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
}

.container span {
  font-size: 12px;
  color: var(--font-grey);
}
