.heading1 {
  font-family: "Be Vietnam Pro";
  font-weight: 500;
  font-size: 21px;
}

.smallText {
  font-size: 14px;
  font-weight: 300px;
}

.button {
  background-color: var(--blue);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: fit-content;
  max-width: fit-content;
  height: fit-content;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.largeButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  width: 170px;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
  border: none;
}
