@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500&display=swap");

/* @font-face {
  font-family: BeVietnamPro_light;
  src: url("/fonts/BeVietnamPro-Light.ttf");
}

@font-face {
  font-family: BeVietnamPro_medium;
  src: url("/fonts/BeVietnamPro-Medium.ttf");
}

@font-face {
  font-family: BeVietnamPro_regular;
  src: url("/fonts/BeVietnamPro-Regular.ttf");
} */

:root {
  --main-bg: #f3f3f3;
  --card-bg: #f6f6f8;
  --green: #6ebc7f;
  --red: #c43131;
  --amber: #f99218;
  --font: #1f1f1f;
  --font-grey: #1f1f1f91;
  --blue: #5882ef;
  --light-blue: #eceff7;
  --nav-bg: #293a68;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #f3f3f3;
}

h1,
h2,
h3 {
  font-family: "Be Vietnam Pro";
  font-weight: 500;
  color: var(--font);
}

p,
span {
  font-family: "Be Vietnam Pro";
  font-weight: 300;
  color: var(--font);
}
